@import "../../styles/common.scss";
.hamburger {
  .icon {
    width: 40px;
    display: block;
    position: relative;
    z-index: 9999;
    display: none;
    margin: 0 16px;

    @media (max-width: 1190px) {
      display: block;
    }

    span {
      width: 100%;
      display: block;
      height: 4px;
      border-radius: 40px;
      background: #000;
      margin-bottom: 6px;
      transition: 0.3s ease-in-out;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .menu {
    position: fixed;
    top: 0;
    right: -60%;
    background: #eeeeee;
    height: 100vh;
    width: 50%;
    z-index: 999;
    padding: 80px 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: 0.3s ease-in-out;
    visibility: hidden;
    opacity: 0;

    @media (max-width: 640px) {
      width: 90%;
    }

    ul {
      li {
        font-size: 20px;
        margin-bottom: 20px;
      }
    }
  }

  .menuActive {
    right: 0 !important;
    opacity: 1;
    visibility: visible;
  }
}

.active {
  span {
    &:first-child {
      transform: rotate(45deg) translateX(8px);
    }
    &:last-child {
      transform: rotate(-45deg) translateX(6px);
    }
  }
}

.left_container_search {
  width: 90%;
  margin: 0 auto;
  margin-left: 20px;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $primary-border;
  margin-right: 20px;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
  background: #fff;

  svg {
    margin-right: 10px;
  }

  input {
    border: none;
    background: #fff;
    box-sizing: border-box;

    &:focus {
      border: none;
      outline: none;
    }
  }

  &:focus-within,
  &:hover {
    border-color: $primary-color-deep;
  }
}

.buttonGroup {
  display: flex;

  button {
    margin: 0 14px;
    font-size: 18px;
    font-weight: 500;
    padding: 12px 20px;
    transition: 0.3s ease-in-out;
    border-radius: 50px;
    border: 1px solid $primary-color-deep;
    color: $primary-color-deep;

    &:hover {
      border: 1px solid $primary-color-deep;
      color: $primary-color-deep;
    }

    &.active {
      font-size: 16px;
      background: $primary-color;
      padding: 12px 20px;
      border-radius: 50px;
      color: #fff;
      transition: 0.3s ease-in-out;

      &:hover {
        background: $primary-color-deep;
      }
    }
  }
}
