@import "../../styles/common.scss";

.home {
  text-align: center;
  overflow-x: hidden;

  h4 {
    span {
      color: $primary-color-deep;
    }

    @media (max-width: 640px) {
      font-size: 50px !important;
    }
  }

  .inputBox {
    width: 40%;
    margin: 0 auto;
    position: relative;

    @media (max-width: 980px) {
      width: 70%;
    }
    @media (max-width: 600px) {
      width: 100%;
    }

    input {
      border: 1px solid $primary-border;
      width: 100%;
      padding: 30px;
      box-sizing: border-box;
      border-radius: 50px;
      font-size: 16px;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      -moz-appearance: textfield;

      &::placeholder {
        color: $primary-dark;
        font-size: 16px;
      }

      &:focus {
        outline: none;
        border: 1px solid $primary-color-deep;
      }
    }

    button {
      font-size: 16px;
      position: absolute;
      right: 10px;
      top: 50%;
      height: 80%;
      min-width: 150px;
      transform: translateY(-50%);
      background: $primary-dark;
      padding: 20px 30px;
      color: #fff;
      border-radius: 50px;
      transition: 0.3s ease-in-out;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
